@model LFG.Pages.Group.GroupModel

<partial name="_DefaultGroupAvatarPartial" />
<form id="group-info-form" method="post">
  <input id="groupId" type="hidden" asp-for="Group.Id" />
  <div class="form-item">
    <label asp-for="Group.Name"></label>
    <input asp-for="Group.Name" type="text" required />
  </div>
  <div class="form-item">
    <label asp-for="Group.Description"></label>
    <textarea asp-for="Group.Description" maxlength="250"></textarea>
  </div>
  <div class="form-item">
    <label asp-for="Group.Public"></label>
    <input class="group-public-checkbox" asp-for="Group.Public" type="checkbox" />
  </div>
  <div class="form-item">
    <label asp-for="Group.Status"></label>
    <select asp-for="Group.Status" asp-items="Html.GetEnumSelectList<Enums.GroupStatus>()"></select>
  </div>
  <button class="save-changes small-button" type="submit" form="group-info-form">Save Changes</button>
</form>
<div class="edit-games">
  <label class="game-label" asp-for="SelectedGame" form="game-form">
    Games
    <ul class="game-list">
      @foreach (var game in @Model.GroupGameNames)
      {
        <li>
          <div class="game">
            @game
            <form id="remove-game-form" method="post" asp-page-handler="RemoveGame">
              <input type="hidden" asp-for="GameToRemove" value="@game" />
              <button class="bi bi-dash-lg game-button game-remove-button" type="submit" form="remove-game-form"></button>
            </form>
          </div>
        </li>
      }
    </ul>
  </label>
  @if (@Model.GameExists != null)
  {
    <p class="text-danger">@Model.GameExists</p>
  }
  <div class="game-search">
    <label asp-for="SelectedGame" form="game-form">Add A Game</label>
    <div class="search-bar-group">
      <input type="search" list="all-games-list" asp-for="SelectedGame" form="game-form" />
      <datalist id="all-games-list">
        @foreach (var game in Model.AllGamesList)
        {
          <option value="@game"></option>
        }
      </datalist>
      <button class="bi bi-plus-lg game-button" type="submit" form="game-form"></button>
    </div>
  </div>
  <form id="game-form" class="game-form" method="post"></form>
</div>