@model LFG.Pages.Profile.ProfileModel

<partial name="_DefaultUserAvatarPartial" />
<div class="user-info">
  <h2>@Model.User.Username</h2>
  <form id="profile-form" class="profile-form" method="post" asp-page-handler="UpdateUserInfo()">
    <div class="form-item">
      <label asp-for="User.Email"></label>
      <input asp-for="User.Email" type="email" required />
    </div>
    <div class="form-item">
      <label asp-for="User.FirstName"></label>
      <input asp-for="User.FirstName" type="text" />
    </div>
    <div class="form-item">
      <label asp-for="User.FirstNamePublic"></label>
      <input asp-for="User.FirstNamePublic" type="checkbox" />
    </div>
    <div class="form-item">
      <label asp-for="User.LastName"></label>
      <input asp-for="User.LastName" type="text" />
    </div>
    <div class="form-item">
      <label asp-for="User.LastNamePublic"></label>
      <input asp-for="User.LastNamePublic" type="checkbox" />
    </div>
    <div class="form-item">
      <label asp-for="User.Bio"></label>
      <textarea asp-for="User.Bio" maxlength="250"></textarea>
    </div>
    <div class="form-item">
      <label asp-for="User.BioPublic"></label>
      <input asp-for="User.BioPublic" type="checkbox" />
    </div>
    <div class="form-item">
      <label asp-for="User.PlatformsPublic"></label>
      <input asp-for="User.PlatformsPublic" type="checkbox" />
    </div>
    <div class="form-item">
      <label asp-for="User.GroupsPublic"></label>
      <input asp-for="User.GroupsPublic" type="checkbox" />
    </div>
  </form>
  <div class="form-item">
    <label class="platform-label" asp-for="SelectedPlatform" form="platform-select-form">
      <p>Platforms: </p>
      <ul class="platform-list">
        @foreach (var platform in @Model.UserPlatformNames)
        {
          <li class="platform">
            @platform
            <form id="remove-platform-form" method="post">
              <input type="hidden" asp-for="PlatformToRemove" value="@platform" />
              <button class="bi bi-dash-lg platform-button platform-remove-button" type="submit"></button>
            </form>
          </li>
        }
      </ul>
    </label>
    @if (@Model.PlatformExists != null)
    {
      <p class="text-danger">@Model.PlatformExists</p>
    }
    <div class="platform-select">
      <select asp-for="SelectedPlatform" asp-items="@Model.AllPlatformsList" form="platform-select-form"></select>
      <button class="bi bi-plus-lg platform-button" type="submit" form="platform-select-form"></button>
    </div>
    <form id="platform-select-form" class="platform-select-form" method="post"></form>
  </div>
  <button class="save-changes small-button" type="submit" form="profile-form">Save Changes</button>
</div>