<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>@ViewData["Title"] - LFG</title>
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
  <link rel="stylesheet" href="~/LFG.styles.css" asp-append-version="true"/>
</head>
<body>
<header>
  <div class="header-logo">
    <img src="/images/LFG Icon Outlined.png" alt="logo" style="height:80px"/>
    <a asp-area="" asp-page="/Index">
      <img src="/images/LFG Letters TNR.png" alt="LFG" style="height:70px"/>
    </a>
  </div>
  <div class="user-block">
    <div class="notifications-icon" onclick="toggleNotifications()">
        <i class="bi bi-bell-fill"></i>
    </div>
    <div id="notifications" style="display:none">
      <ul>
        @if (Model.UserMessages.Count == 0)
        {
          <li class="no-messages">No Messages</li>
        }
        @foreach (var message in Model.UserMessages)
        {
          <li id="message-@message.Id" class="message" onclick="toggleMessageBody(@message.Id)">
            <p><b>@message.Subject</b></p>
            <p>@message.Sender</p>
            <p id="message-body-@message.Id">@message.Body</p>
            <p class="message-sent">@message.Sent</p>
          </li>
        }
      </ul>
    </div>
    <div class="user-options">
      <div class="username">
        <img class="default-user-avatar" src="/images/Default User Avatar.png" />
        <p>@User.Identity.Name</p>
      </div>
      <partial name="_LogoutPartial" />
    </div>
  </div>
</header>
<nav class="side-navbar navbar-expand-sm navbar-toggleable-sm">
  <div class="nav-contaier">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" style="width:100%">
      <ul class="side-nav">
        <li class="side-nav-item">
          <a class="side-nav-link" asp-area="" asp-page="/Games/Games">Games</a>
        </li>
        <li class="side-nav-item">
            <a class="side-nav-link" asp-area="" asp-page="/Profile/Profile" asp-route-username="@User.Identity.Name">Profile</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <main role="main" class="pb-3">
    @RenderBody()
  </main>
</div>

<footer class="border-top footer text-muted">
  <div class="container">
    &copy; 2024 - LFG - <a asp-area="" asp-page="/Privacy">Privacy</a>
  </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script type="text/javascript">
  function toggleNotifications() {
    const notifications = document.getElementById("notifications");

    if (notifications.style.display === "none") {
      notifications.style.display = "block";
    }
    else {
      notifications.style.display = "none";
    }
  }  
 </script>

@await RenderSectionAsync("Scripts", false)
</body>
</html>