@page "/Profile/{username}/Edit"

@model LFG.Pages.Profile.EditProfileModel
@{
  ViewData["Title"] = "Edit Profile";
}

<div class="profile-heading">
  <h1>Profile</h1>
  <div class="buttons small-button-block">
    <a class="back-button small-button" asp-page="/Profile/Profile" asp-route-username="@RouteData.Values["username"]">&#60; Back</a>
  </div>
</div>
<div class="user-card">
  <partial name="Shared/_DefaultUserAvatarPartial"/>
  <div class="user-info">
    @if(@Model.UpdateMessage != null)
    {
      <p class="update-message text-success">@Model.UpdateMessage</p>
    }
    @if(@Model.InvalidMessage != null)
    {
      <p class="invalid-message text-danger">@Model.InvalidMessage</p>
    }
    <h2>@Model.User.Username</h2>
    <form id="profile-form" class="profile-form" method="post" asp-page-handler="OnPostAsync">
      <div class="form-item">
        <label asp-for="User.Email"></label>
        <input asp-for="User.Email" type="text"/>
      </div>
      <div class="form-item">
        <label asp-for="User.FirstName"></label>
        <input asp-for="User.FirstName" type="text"/>
      </div>
      <div class="form-item">
        <label asp-for="User.LastName"></label>
        <input asp-for="User.LastName" type="text"/>
      </div>
      <div class="form-item">
        <label asp-for="User.Bio"></label>
        <textarea asp-for="User.Bio" maxlength="250"></textarea>
      </div>
    </form>
    <div class="form-item">
      <label class="platform-label" asp-for="SelectedPlatform" form="platform-select-form">
        <p>Platforms: </p>
        <ul class="platform-list">
          @foreach (var platform in @Model.UserPlatformNames)
          {
            <li class="platform">
              @platform
              <form method="post" asp-page-handler="RemovePlatform">
                <input type="hidden" asp-for="PlatformToRemove" value="@platform"/>
                <button class="bi bi-dash-lg platform-button platform-remove-button" type="submit"></button>
              </form>
            </li>
          }
        </ul>
      </label>
      @if(@Model.PlatformExists != null)
      {
        <p class="text-danger">@Model.PlatformExists</p>
      }
      <div class="platform-select">
        <select asp-for="SelectedPlatform" asp-items="@Model.AllPlatformsList" form="platform-select-form"></select>
        <button class="bi bi-plus-lg platform-button" type="submit" form="platform-select-form"></button>
      </div>
      <form id="platform-select-form" class="platform-select-form" method="post" asp-page-handler="AddPlatform"></form>
    </div>
    <button class="save-changes small-button" type="submit" form="profile-form">Save Changes</button>
  </div>
</div>