@page "/Profile/{username}"

@model ProfileModel
@{
  ViewData["Title"] = "Profile";
}

<div class="profile-heading">
  <h1>Profile</h1>
  @if (@RouteData.Values["username"].ToString() == User.Identity.Name)
  {
    <div class="buttons small-button-block">
      <button class="edit-button small-button" onclick="toggleEditUserInfo()">Edit</button>
    </div>
  }
</div>
<div id="user-card" style="display:grid">
  @if (@Model.UpdateMessage != null)
  {
    <p class="update-message text-success">@Model.UpdateMessage</p>
  }
  <partial name="_ProfilePartial" />
</div>
<div id="edit-user-card" style="display:none">
  <partial name="_EditProfilePartial" />
</div>
@if (@Model.UserGroups.Count > 0)
{
  <h1>Groups</h1>
  <div class="user-groups">
    @foreach (var group in @Model.UserGroups)
    {
      <a asp-page="/Group/Group" asp-route-groupname="@group.Name">
        <div class="group-card">
          <partial name="Shared/_DefaultGroupAvatarPartial" />
          <h3 class="group-name">@group.Name</h3>
        </div>
      </a>
    }
  </div>
}

@section Scripts
{
  <partial name="_ValidationScriptsPartial" />
  <script src="~/lib/jquery/dist/jquery.js"></script>
  <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
  <script src="~/js/profile.js"></script>
  <script type="text/javascript">

    @* Toggle Edit User Info *@
    function toggleEditUserInfo() {
      const userCard = document.getElementById("user-card");
      const editUserCard = document.getElementById("edit-user-card");

      if (userCard.style.display === "grid") {
        userCard.style.display = "none";
        editUserCard.style.display = "grid";
      } else {
        userCard.style.display = "grid";
        editUserCard.style.display = "none";
      }
    }

    @* Edit User Info *@
    $(document).on("submit", "#profile-form", function (e) {
      e.preventDefault();
      var form = $(this);

      $.ajax({
        url: `?handler=UpdateUserInfo`,
        type: 'POST',
        data: form.serialize()
      });

      toggleEditUserInfo();
    });

    @* Add Platform *@
      $(document).on("submit", "#platform-select-form", function (e) {
      e.preventDefault();
      var form = $(this);

      $.ajax({
        url: `?handler=AddPlatform`,
        type: 'POST',
        data: form.serialize()
      });
    });

    @* Remove Platform *@
    $(document).on("submit", "#remove-platform-form", function (e) {
      e.preventDefault();
      var form = $(this);

      $.ajax({
        url: `?handler=RemovePlatform`,
        type: 'POST',
        data: form.serialize()
      });
    });

    @if (Model.PlatformExists != null)
    {
      @:toggleEditUserInfo();
    }
  </script>
}.